body {
  background: url("../assets/woodenwall.png") no-repeat center center/cover;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 26%;
  margin-bottom: 100px;
  opacity: 0;
  transform: scale(0.8);
  animation: popUp 0.5s ease-out forwards;
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.form-title {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  color: #cccccc;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.Age input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
.Age label {
  width: 100%;
}
.button {
  display: flex;
  align-content: center;
}
.btn-register {
  width: 200px;
  padding: 8px;
  height: 40;
  background-color: #00d4ff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 50%;
  margin-top: 15px;
}

.btn-signup:hover {
  background-color: #00d4ff;
}

.forgot-password {
  display: block;
  flex-direction: column;
  text-align: right;
  color: #cccccc;
  margin-top: 10px;
}

.forgot-password:hover {
  color: #00d4ff;
}

@media screen and (max-width: 1300px) {
  .login-container {
    width: 45%; /* Adjust width for smaller screens */
    padding: 20px;
    margin-bottom: 10px; /* Adjust bottom margin as needed */
    margin-top: -70px;
  }

  .form-title {
    font-size: 20px; /* Smaller font size for title */
  }

  .form-group input {
    padding: 8px; /* Smaller padding for inputs */
    font-size: 14px;
  }

  .btn-register {
    width: 100%;
    font-size: 14px; /* Smaller font size for button */
    padding: 10px;
  }
}
