body {
    background: url('./assets/3d-rendered-photo-large-collection-old-books-wooden-shelves_1103059-785_LE_auto_x4-su711rh7G-transformed.jpeg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.search-container {
    text-align: center;
    margin: 20px;
}

#searchInput {
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for contrast */
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px; /* Increased padding */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.05); /* Slight scale on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.book-card img {
    width: 70%; /* Slightly larger image */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease; /* Smooth shadow on hover */
}

.book-card:hover img {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); /* Light shadow on image hover */
}

.book-card h3 {
    font-size: 16px;
    color: #f1eded;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for readability */
}

.star-rating {
    color: #f39c12;
}

.preview-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #00d4ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.preview-button:hover {
    background-color: #007f99;
}


@media screen and (max-width: 992px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on tablets */
    }
}

@media screen and (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
}

@media screen and (max-width: 576px) {
    .book-grid {
        grid-template-columns: 1fr; /* Single column on extra small screens */
    }
}
