
* {
    margin: 0;
    padding: 0;
}
.main {
    font-family: Arial, sans-serif;
    color: #333;
  }

.book-card h3 {
    font-size: medium;
}


.main {
    background: url('./assets/014beefb7e389234e400edeebfae4165.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    text-align: center;
    color: #fff;
}

.main h1 {
    font-size: 3rem;
}

.main p {
    font-size: 1.5rem;
}

.main .btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
}


.categories-section {
    padding: 2rem;
    text-align: center;
}

.categories-section h2 {
    margin-bottom: 1.5rem;
    
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 150px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category:hover {
    background-color: #007bff;
    color: #fff;
}


.popular-books-section  {
    padding: 2rem;
    background-color: #f1f1f1;
    text-align: center;
}

.popular-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-card {
    width: 200px;
    padding: 1rem;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.book-card:hover {
    transform: scale(1.09);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.book-card img {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 5px;
}


.reviews-section {
    padding: 2rem;
    background-color: #e9ecef;
    text-align: center;
}

.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review {
    width: 300px;
    background-color: #fff;
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1300){
    .main-content {
        text-align: center;
        color: #fff;
    }
    
    .main h1 {
        font-size: 1rem;
    }
    
    .main p {
        font-size: 0.5rem;
    }
    
    .main .btn {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.2rem;
    }
}