

body {
    background: url('./assets/spectacular-wall-wooden-background-classical-library-books-library-study-living-room-education_1041263-2293_LE_auto_x2.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 26%;
    margin-bottom: 100px;
}


.form-title {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #cccccc;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.button-group {
    justify-content: space-between;
    margin-top: 15px;
}

.btn-login, .btn-signup{
    width: 100px;
    padding: 8px;
    height: 40;
    background-color: #00d4ff; 
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-login:hover, .btn-signup:hover {
    background-color: #00d4ff; 
}

.btn-login{
    margin-left: 50px;
    margin-right: 15px;
}
.forgot-password {
    display: block;
    flex-direction: column;
    text-align: right;
    color: #cccccc;
    margin-top: 10px;
}

.forgot-password:hover {
    color: #00d4ff; /* Neon blue on hover */
}
